<h1 class="title">Lighthouse Music Bay</h1>
<br/>
<div class="login-container">
	<div class="signinbox">
		<form method="POST" action="/login">
		<input name="username" placeholder="What is your name?" class="username" required />
		<input name="password" placeholder="What is your password?" class="password" type="password" required />
    <input name="submit" class="btn" type="submit" value="Send" />
</form>
	</div>
</div>